<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="hdvideoprojector.videosimulator">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="hdvideoprojector.videosimulator.activity.ActivitySplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="hdvideoprojector.videosimulator.activity.StartActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="hdvideoprojector.videosimulator.activity.MainActivity"
            android:screenOrientation="portrait" />

         <activity
            android:name="hdvideoprojector.videosimulator.activity.GetVidoeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="hdvideoprojector.videosimulator.activity.VideoProjectionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="hdvideoprojector.videosimulator.activity.VideoThemeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="hdvideoprojector.videosimulator.activity.VideoThemeProjectionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="hdvideoprojector.videosimulator.activity.GuideActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="hdvideoprojector.videosimulator.activity.SettingActivity"
            android:screenOrientation="portrait" />

    </application>

</manifest>